body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #927044;
    color: #927044;
}

header {
    background-color: #927044;
    color: whitesmoke;
    text-align: center;
    padding: 1em;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #927044;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}